<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="content-page-header">
      <h5>Customer Details In Active</h5>
    </div>
    <!-- /Page Header -->

    <!-- Table -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-stripped table-hover datatable">
                <thead class="thead-light">
                  <tr>
                    <th>
                      <label class="custom_check">
                        <input type="checkbox" name="invoice" />
                        <span class="checkmark"></span> </label
                      >Invoice ID
                    </th>
                    <th>Category</th>
                    <th>Created On</th>
                    <th>Invoice To</th>
                    <th>Total Amount</th>
                    <th>Paid Amount</th>
                    <th>Payment Mode</th>
                    <th>Balance</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="custom_check">
                        <input type="checkbox" name="invoice" />
                        <span class="checkmark"></span>
                      </label>
                      <a
                        href="<%= routes.invoicedetails %>"
                        class="invoice-link"
                        >#4987</a
                      >
                    </td>
                    <td>Food</td>
                    <td>23 Mar 2023</td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          href="<%= routes.profile %>"
                          class="avatar avatar-sm me-2"
                          ><img
                            class="avatar-img rounded-circle"
                            src="assets/img/profiles/avatar-02.jpg"
                            alt="User Image"
                        /></a>
                        <a href="<%= routes.profile %>"
                          >John Smith <span>+1 843-443-3282</span></a
                        >
                      </h2>
                    </td>
                    <td>$1,54,220</td>
                    <td>$1,50,000</td>
                    <td>Cash</td>
                    <td>$2,54,00</td>
                    <td>25 Mar 2023</td>
                    <td>
                      <span class="badge badge-pill bg-danger-light"
                        >Cancel</span
                      >
                    </td>
                    <td>
                      <div class="dropdown dropdown-action">
                        <a
                          href="#"
                          class="btn-action-icon"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="fas fa-ellipsis-v"></i
                        ></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <ul>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                                data-bs-toggle="modal"
                                data-bs-target="#delete_modal"
                                ><i class="far fa-trash-alt me-2"></i>Delete</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.activecustomers %>"
                                ><i class="far fa-bell me-2"></i>Active</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.deactivecustomers %>"
                                ><i class="far fa-bell-slash me-2"></i>In
                                Active</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="custom_check">
                        <input type="checkbox" name="invoice" />
                        <span class="checkmark"></span>
                      </label>
                      <a
                        href="<%= routes.invoicedetails %>"
                        class="invoice-link"
                        >#4988</a
                      >
                    </td>
                    <td>Advertising</td>
                    <td>16 Mar 2022</td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          href="<%= routes.profile %>"
                          class="avatar avatar-sm me-2"
                          ><img
                            class="avatar-img rounded-circle"
                            src="assets/img/profiles/avatar-01.jpg"
                            alt="User Image"
                        /></a>
                        <a href="<%= routes.profile %>"
                          >Johnny <span>+1 917-409-0861</span></a
                        >
                      </h2>
                    </td>
                    <td>$3,54,220</td>
                    <td>$2,50,000</td>
                    <td>Cheque</td>
                    <td>$4,220</td>
                    <td>16 Jan 2023</td>
                    <td>
                      <span class="badge badge-pill bg-danger-light"
                        >Cancel</span
                      >
                    </td>
                    <td>
                      <div class="dropdown dropdown-action">
                        <a
                          href="#"
                          class="btn-action-icon"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="fas fa-ellipsis-v"></i
                        ></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <ul>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                                data-bs-toggle="modal"
                                data-bs-target="#delete_modal"
                                ><i class="far fa-trash-alt me-2"></i>Delete</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.activecustomers %>"
                                ><i class="far fa-bell me-2"></i>Active</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.deactivecustomers %>"
                                ><i class="far fa-bell-slash me-2"></i>In
                                Active</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="custom_check">
                        <input type="checkbox" name="invoice" />
                        <span class="checkmark"></span>
                      </label>
                      <a
                        href="<%= routes.invoicedetails %>"
                        class="invoice-link"
                        >#4989</a
                      >
                    </td>
                    <td>Marketing</td>
                    <td>25 Feb 2023</td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          href="<%= routes.profile %>"
                          class="avatar avatar-sm me-2"
                          ><img
                            class="avatar-img rounded-circle"
                            src="assets/img/profiles/avatar-08.jpg"
                            alt="User Image"
                        /></a>
                        <a href="<%= routes.profile %>"
                          >Robert <span>+1 956-623-2880</span></a
                        >
                      </h2>
                    </td>
                    <td>$1,54,220</td>
                    <td>$1,50,000</td>
                    <td>Cash</td>
                    <td>$4,220</td>
                    <td>16 Jan 2023</td>
                    <td>
                      <span class="badge badge-pill bg-danger-light"
                        >Cancel</span
                      >
                    </td>
                    <td>
                      <div class="dropdown dropdown-action">
                        <a
                          href="#"
                          class="btn-action-icon"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="fas fa-ellipsis-v"></i
                        ></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <ul>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                                data-bs-toggle="modal"
                                data-bs-target="#delete_modal"
                                ><i class="far fa-trash-alt me-2"></i>Delete</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.activecustomers %>"
                                ><i class="far fa-bell me-2"></i>Active</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.deactivecustomers %>"
                                ><i class="far fa-bell-slash me-2"></i>In
                                Active</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="custom_check">
                        <input type="checkbox" name="invoice" />
                        <span class="checkmark"></span>
                      </label>
                      <a
                        href="<%= routes.invoicedetails %>"
                        class="invoice-link"
                        >#4990</a
                      >
                    </td>
                    <td>Repairs</td>
                    <td>25 Mar 2022</td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          href="<%= routes.profile %>"
                          class="avatar avatar-sm me-2"
                          ><img
                            class="avatar-img rounded-circle"
                            src="assets/img/profiles/avatar-04.jpg"
                            alt="User Image"
                        /></a>
                        <a href="<%= routes.profile %>"
                          >Sharonda <span>+1 707-439-1732</span></a
                        >
                      </h2>
                    </td>
                    <td>$1,54,220</td>
                    <td>$1,50,000</td>
                    <td>Cash</td>
                    <td>$4,220</td>
                    <td>12 May 2023</td>
                    <td>
                      <span class="badge badge-pill bg-danger-light"
                        >Cancel</span
                      >
                    </td>
                    <td>
                      <div class="dropdown dropdown-action">
                        <a
                          href="#"
                          class="btn-action-icon"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="fas fa-ellipsis-v"></i
                        ></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <ul>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                                data-bs-toggle="modal"
                                data-bs-target="#delete_modal"
                                ><i class="far fa-trash-alt me-2"></i>Delete</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.activecustomers %>"
                                ><i class="far fa-bell me-2"></i>Active</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.deactivecustomers %>"
                                ><i class="far fa-bell-slash me-2"></i>In
                                Active</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="custom_check">
                        <input type="checkbox" name="invoice" />
                        <span class="checkmark"></span>
                      </label>
                      <a
                        href="<%= routes.invoicedetails %>"
                        class="invoice-link"
                        >#4991</a
                      >
                    </td>
                    <td>Software</td>
                    <td>12 May 2022</td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          href="<%= routes.profile %>"
                          class="avatar avatar-sm me-2"
                          ><img
                            class="avatar-img rounded-circle"
                            src="assets/img/profiles/avatar-06.jpg"
                            alt="User Image"
                        /></a>
                        <a href="<%= routes.profile %>"
                          >Pricilla <span>+1 559-741-9672</span></a
                        >
                      </h2>
                    </td>
                    <td>$5,54,220</td>
                    <td>$3,50,000</td>
                    <td>Cheque</td>
                    <td>$4,220</td>
                    <td>18 May 2023</td>
                    <td>
                      <span class="badge badge-pill bg-danger-light"
                        >Cancel</span
                      >
                    </td>
                    <td>
                      <div class="dropdown dropdown-action">
                        <a
                          href="#"
                          class="btn-action-icon"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="fas fa-ellipsis-v"></i
                        ></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <ul>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                                data-bs-toggle="modal"
                                data-bs-target="#delete_modal"
                                ><i class="far fa-trash-alt me-2"></i>Delete</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.activecustomers %>"
                                ><i class="far fa-bell me-2"></i>Active</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.deactivecustomers %>"
                                ><i class="far fa-bell-slash me-2"></i>In
                                Active</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="custom_check">
                        <input type="checkbox" name="invoice" />
                        <span class="checkmark"></span>
                      </label>
                      <a
                        href="<%= routes.invoicedetails %>"
                        class="invoice-link"
                        >#4992</a
                      >
                    </td>
                    <td>Stationary</td>
                    <td>16 Nov 2022</td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          href="<%= routes.profile %>"
                          class="avatar avatar-sm me-2"
                          ><img
                            class="avatar-img rounded-circle"
                            src="assets/img/profiles/avatar-09.jpg"
                            alt="User Image"
                        /></a>
                        <a href="<%= routes.profile %>"
                          >Randall <span>+1 989-438-3131</span></a
                        >
                      </h2>
                    </td>
                    <td>$5,54,220</td>
                    <td>$6,50,000</td>
                    <td>Cash</td>
                    <td>$4,220</td>
                    <td>25 Feb 2023</td>
                    <td>
                      <span class="badge badge-pill bg-danger-light"
                        >Cancel</span
                      >
                    </td>
                    <td>
                      <div class="dropdown dropdown-action">
                        <a
                          href="#"
                          class="btn-action-icon"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="fas fa-ellipsis-v"></i
                        ></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <ul>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                                data-bs-toggle="modal"
                                data-bs-target="#delete_modal"
                                ><i class="far fa-trash-alt me-2"></i>Delete</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.activecustomers %>"
                                ><i class="far fa-bell me-2"></i>Active</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="<%= routes.deactivecustomers %>"
                                ><i class="far fa-bell-slash me-2"></i>In
                                Active</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Table -->

    <!-- Delete Items Modal -->
    <div class="modal custom-modal fade" id="delete_modal" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <div class="form-header">
              <h3>Delete Customer Details</h3>
              <p>Are you sure want to delete?</p>
            </div>
            <div class="modal-btn delete-action">
              <div class="row">
                <div class="col-6">
                  <a
                    href="#"
                    data-bs-dismiss="modal"
                    class="btn btn-primary paid-continue-btn"
                    >Delete</a
                  >
                </div>
                <div class="col-6">
                  <a
                    href="#"
                    data-bs-dismiss="modal"
                    class="btn btn-primary paid-cancel-btn"
                    >Cancel</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Delete Items Modal -->
  </div>
</div>
