<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="content-page-header">
      <h5>Recurring Invoices Draft</h5>
      <div class="list-btn">
        <ul class="filter-list">
          <li>
            <a class="btn btn-filters w-auto popup-toggle"
              ><span class="me-2"><i class="fe fe-filter"></i></span>Filter
            </a>
          </li>
          <li>
            <a class="btn-filters" href="javascript:void(0);"
              ><span><i class="fe fe-settings"></i></span>
            </a>
          </li>
          <li>
            <a class="btn-filters" href="javascript:void(0);"
              ><span><i class="fe fe-grid"></i></span>
            </a>
          </li>
          <li>
            <a class="active btn-filters" href="javascript:void(0);"
              ><span><i class="fe fe-list"></i></span>
            </a>
          </li>
          <li>
            <a class="btn btn-primary" href="<%= routes.addinvoice %>"
              ><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>New
              Invoice</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!-- Search Filter -->
  <div id="filter_inputs" class="card filter-card">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Search Filter -->

  <!-- Inovices card -->
  <div class="row">
    <div class="col-xl-2 col-lg-4 col-sm-6 col-12">
      <div class="card inovices-card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="inovices-widget-icon bg-info-light">
              <img src="assets/img/icons/receipt-item.svg" alt="" />
            </span>
            <div class="dash-count">
              <div class="dash-title">Total Invoice</div>
              <div class="dash-counts">
                <p>$298</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p class="inovices-all">
              No of Invoice
              <span class="rounded-circle bg-success-light text-success-light"
                >02</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-sm-6 col-12">
      <div class="card inovices-card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="inovices-widget-icon bg-primary-light">
              <img src="assets/img/icons/transaction-minus.svg" alt="" />
            </span>
            <div class="dash-count">
              <div class="dash-title">Total Outstanding</div>
              <div class="dash-counts">
                <p>$325,215</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p class="inovices-all">
              No of Invoice
              <span class="rounded-circle bg-success-light text-success-light"
                >02</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-sm-6 col-12">
      <div class="card inovices-card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="inovices-widget-icon bg-warning-light">
              <img src="assets/img/icons/archive-book.svg" alt="" />
            </span>
            <div class="dash-count">
              <div class="dash-title">Total Overdue</div>
              <div class="dash-counts">
                <p>$7825</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p class="inovices-all">
              No of Invoice
              <span class="rounded-circle bg-success-light text-success-light"
                >02</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-sm-6 col-12">
      <div class="card inovices-card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="inovices-widget-icon bg-primary-light">
              <img src="assets/img/icons/clipboard-close.svg" alt="" />
            </span>
            <div class="dash-count">
              <div class="dash-title">Cancelled</div>
              <div class="dash-counts">
                <p>100</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p class="inovices-all">
              No of Invoice
              <span class="rounded-circle bg-success-light text-success-light"
                >02</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-sm-6 col-12">
      <div class="card inovices-card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="inovices-widget-icon bg-success-light">
              <img src="assets/img/icons/message-edit.svg" alt="" />
            </span>
            <div class="dash-count">
              <div class="dash-title">Draft</div>
              <div class="dash-counts">
                <p>$125,586</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p class="inovices-all">
              No of Invoice
              <span class="rounded-circle bg-success-light text-success-light"
                >02</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-sm-6 col-12">
      <div class="card inovices-card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="inovices-widget-icon bg-danger-light">
              <img src="assets/img/icons/3d-rotate.svg" alt="" />
            </span>
            <div class="dash-count">
              <div class="dash-title">Recurring</div>
              <div class="dash-counts">
                <p>$86,892</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p class="inovices-all">
              No of Invoice
              <span class="rounded-circle bg-success-light text-success-light"
                >02</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Inovices card -->

  <!-- All Invoice -->
  <div class="card invoices-tabs-card">
    <div class="invoices-main-tabs">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="invoices-tabs">
            <ul>
              <li><a href="<%= routes.recurringinvoices %>">All Invoice</a></li>
              <li><a href="<%= routes.recurringpaid %>">Paid</a></li>
              <li><a href="<%= routes.recurringpending %>">Pending</a></li>
              <li><a href="<%= routes.recurringoverdue %>">Overdue</a></li>
              <li>
                <a href="<%= routes.recurringdraft %>" class="active">Draft</a>
              </li>
              <li><a href="<%= routes.recurring %>">Recurring</a></li>
              <li><a href="<%= routes.recurringcancelled %>">Cancelled</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /All Invoice -->

  <!-- Table -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-stripped table-hover datatable">
              <thead class="thead-light">
                <tr>
                  <th>
                    <label class="custom_check">
                      <input type="checkbox" name="invoice" />
                      <span class="checkmark"></span> </label
                    >Invoice ID
                  </th>
                  <th>Category</th>
                  <th>Created On</th>
                  <th>Invoice To</th>
                  <th>Total Amount</th>
                  <th>Paid Amount</th>
                  <th>Payment Mode</th>
                  <th>Balance</th>
                  <th>Due Date</th>
                  <th>Status</th>
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="custom_check">
                      <input type="checkbox" name="invoice" />
                      <span class="checkmark"></span>
                    </label>
                    <a href="<%= routes.invoicedetails %>" class="invoice-link"
                      >#4987</a
                    >
                  </td>
                  <td>Food</td>
                  <td>23 Mar 2023</td>
                  <td>
                    <h2 class="table-avatar">
                      <a
                        href="<%= routes.profile %>"
                        class="avatar avatar-sm me-2"
                        ><img
                          class="avatar-img rounded-circle"
                          src="assets/img/profiles/avatar-02.jpg"
                          alt="User Image"
                      /></a>
                      <a href="<%= routes.profile %>"
                        >John Smith <span>john@example.com</span></a
                      >
                    </h2>
                  </td>
                  <td>$1,54,220</td>
                  <td>$1,50,000</td>
                  <td>Cash</td>
                  <td>$2,54,00</td>
                  <td>25 Mar 2023</td>
                  <td>
                    <span class="badge bg-light-gray text-primary">Draft</span>
                  </td>
                  <td class="text-end">
                    <a
                      href="<%= routes.editinvoice %>"
                      class="btn btn-sm btn-white text-success me-2"
                      ><i class="far fa-edit me-1"></i> Edit</a
                    >
                    <a
                      class="btn btn-sm btn-white text-danger"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#delete_paid"
                      ><i class="far fa-trash-alt me-1"></i>Delete</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="custom_check">
                      <input type="checkbox" name="invoice" />
                      <span class="checkmark"></span>
                    </label>
                    <a href="<%= routes.invoicedetails %>" class="invoice-link"
                      >#4988</a
                    >
                  </td>
                  <td>Advertising</td>
                  <td>16 Mar 2022</td>
                  <td>
                    <h2 class="table-avatar">
                      <a
                        href="<%= routes.profile %>"
                        class="avatar avatar-sm me-2"
                        ><img
                          class="avatar-img rounded-circle"
                          src="assets/img/profiles/avatar-01.jpg"
                          alt="User Image"
                      /></a>
                      <a href="<%= routes.profile %>"
                        >Johnny <span>johnny@example.com</span></a
                      >
                    </h2>
                  </td>
                  <td>$3,54,220</td>
                  <td>$2,50,000</td>
                  <td>Cheque</td>
                  <td>$4,220</td>
                  <td>16 Jan 2023</td>
                  <td>
                    <span class="badge bg-light-gray text-primary">Draft</span>
                  </td>
                  <td class="text-end">
                    <a
                      href="<%= routes.editinvoice %>"
                      class="btn btn-sm btn-white text-success me-2"
                      ><i class="far fa-edit me-1"></i> Edit</a
                    >
                    <a
                      class="btn btn-sm btn-white text-danger"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#delete_paid"
                      ><i class="far fa-trash-alt me-1"></i>Delete</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="custom_check">
                      <input type="checkbox" name="invoice" />
                      <span class="checkmark"></span>
                    </label>
                    <a href="<%= routes.invoicedetails %>" class="invoice-link"
                      >#4989</a
                    >
                  </td>
                  <td>Marketing</td>
                  <td>25 Feb 2023</td>
                  <td>
                    <h2 class="table-avatar">
                      <a
                        href="<%= routes.profile %>"
                        class="avatar avatar-sm me-2"
                        ><img
                          class="avatar-img rounded-circle"
                          src="assets/img/profiles/avatar-08.jpg"
                          alt="User Image"
                      /></a>
                      <a href="<%= routes.profile %>"
                        >Robert <span>robert@example.com</span></a
                      >
                    </h2>
                  </td>
                  <td>$1,54,220</td>
                  <td>$1,50,000</td>
                  <td>Cash</td>
                  <td>$4,220</td>
                  <td>16 Jan 2023</td>
                  <td>
                    <span class="badge bg-light-gray text-primary">Draft</span>
                  </td>
                  <td class="text-end">
                    <a
                      href="<%= routes.editinvoice %>"
                      class="btn btn-sm btn-white text-success me-2"
                      ><i class="far fa-edit me-1"></i> Edit</a
                    >
                    <a
                      class="btn btn-sm btn-white text-danger"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#delete_paid"
                      ><i class="far fa-trash-alt me-1"></i>Delete</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="custom_check">
                      <input type="checkbox" name="invoice" />
                      <span class="checkmark"></span>
                    </label>
                    <a href="<%= routes.invoicedetails %>" class="invoice-link"
                      >#4990</a
                    >
                  </td>
                  <td>Repairs</td>
                  <td>25 Mar 2022</td>
                  <td>
                    <h2 class="table-avatar">
                      <a
                        href="<%= routes.profile %>"
                        class="avatar avatar-sm me-2"
                        ><img
                          class="avatar-img rounded-circle"
                          src="assets/img/profiles/avatar-04.jpg"
                          alt="User Image"
                      /></a>
                      <a href="<%= routes.profile %>"
                        >Sharonda <span>sharonda@example.com</span></a
                      >
                    </h2>
                  </td>
                  <td>$1,54,220</td>
                  <td>$1,50,000</td>
                  <td>Cash</td>
                  <td>$4,220</td>
                  <td>12 May 2023</td>
                  <td>
                    <span class="badge bg-light-gray text-primary">Draft</span>
                  </td>
                  <td class="text-end">
                    <a
                      href="<%= routes.editinvoice %>"
                      class="btn btn-sm btn-white text-success me-2"
                      ><i class="far fa-edit me-1"></i> Edit</a
                    >
                    <a
                      class="btn btn-sm btn-white text-danger"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#delete_paid"
                      ><i class="far fa-trash-alt me-1"></i>Delete</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="custom_check">
                      <input type="checkbox" name="invoice" />
                      <span class="checkmark"></span>
                    </label>
                    <a href="<%= routes.invoicedetails %>" class="invoice-link"
                      >#4991</a
                    >
                  </td>
                  <td>Software</td>
                  <td>12 May 2022</td>
                  <td>
                    <h2 class="table-avatar">
                      <a
                        href="<%= routes.profile %>"
                        class="avatar avatar-sm me-2"
                        ><img
                          class="avatar-img rounded-circle"
                          src="assets/img/profiles/avatar-06.jpg"
                          alt="User Image"
                      /></a>
                      <a href="<%= routes.profile %>"
                        >Pricilla <span>pricilla@example.com</span></a
                      >
                    </h2>
                  </td>
                  <td>$5,54,220</td>
                  <td>$3,50,000</td>
                  <td>Cheque</td>
                  <td>$4,220</td>
                  <td>18 May 2023</td>
                  <td>
                    <span class="badge bg-light-gray text-primary">Draft</span>
                  </td>
                  <td class="text-end">
                    <a
                      href="<%= routes.editinvoice %>"
                      class="btn btn-sm btn-white text-success me-2"
                      ><i class="far fa-edit me-1"></i> Edit</a
                    >
                    <a
                      class="btn btn-sm btn-white text-danger"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#delete_paid"
                      ><i class="far fa-trash-alt me-1"></i>Delete</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="custom_check">
                      <input type="checkbox" name="invoice" />
                      <span class="checkmark"></span>
                    </label>
                    <a href="<%= routes.invoicedetails %>" class="invoice-link"
                      >#4992</a
                    >
                  </td>
                  <td>Stationary</td>
                  <td>16 Nov 2022</td>
                  <td>
                    <h2 class="table-avatar">
                      <a
                        href="<%= routes.profile %>"
                        class="avatar avatar-sm me-2"
                        ><img
                          class="avatar-img rounded-circle"
                          src="assets/img/profiles/avatar-09.jpg"
                          alt="User Image"
                      /></a>
                      <a href="<%= routes.profile %>"
                        >Randall <span>randall@example.com</span></a
                      >
                    </h2>
                  </td>
                  <td>$5,54,220</td>
                  <td>$6,50,000</td>
                  <td>Cash</td>
                  <td>$4,220</td>
                  <td>25 Feb 2023</td>
                  <td>
                    <span class="badge bg-light-gray text-primary">Draft</span>
                  </td>
                  <td class="text-end">
                    <a
                      href="<%= routes.editinvoice %>"
                      class="btn btn-sm btn-white text-success me-2"
                      ><i class="far fa-edit me-1"></i> Edit</a
                    >
                    <a
                      class="btn btn-sm btn-white text-danger"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#delete_paid"
                      ><i class="far fa-trash-alt me-1"></i>Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Table -->
</div>

<!-- Add Asset -->
<div class="toggle-sidebar">
  <div class="sidebar-layout-filter">
    <div class="sidebar-header">
      <h5>Filter</h5>
      <a href="#" class="sidebar-closes"
        ><i class="fa-regular fa-circle-xmark"></i
      ></a>
    </div>
    <div class="sidebar-body">
      <form action="#" autocomplete="off">
        <!-- Customer -->
        <div class="accordion" id="accordionMain1">
          <div class="card-header-new" id="headingOne">
            <h6 class="filter-title">
              <a
                href="javascript:void(0);"
                class="w-100"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Customer
                <span class="float-end"
                  ><i class="fa-solid fa-chevron-down"></i
                ></span>
              </a>
            </h6>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample1"
          >
            <div class="card-body-chat">
              <div class="row">
                <div class="col-md-12">
                  <div id="checkBoxes1">
                    <div class="form-custom">
                      <input
                        type="text"
                        class="form-control"
                        id="member_search1"
                        placeholder="Search here"
                      />
                      <span
                        ><img src="assets/img/icons/search.svg" alt="img"
                      /></span>
                    </div>
                    <div class="selectBox-cont">
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Brian Johnson
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Russell Copeland
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Greg Lynch
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> John Blair
                      </label>
                      <!-- View All -->
                      <div class="view-content">
                        <div class="viewall-One">
                          <label class="custom_check w-100">
                            <input type="checkbox" name="username" />
                            <span class="checkmark"></span> Barbara Moore
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="username" />
                            <span class="checkmark"></span> Hendry Evan
                          </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="username" />
                            <span class="checkmark"></span> Richard Miles
                          </label>
                        </div>
                        <div class="view-all">
                          <a
                            href="javascript:void(0);"
                            class="viewall-button-One"
                            ><span class="me-2">View All</span
                            ><span
                              ><i class="fa fa-circle-chevron-down"></i></span
                          ></a>
                        </div>
                      </div>
                      <!-- /View All -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Customer -->

        <!-- Select Date -->
        <div class="accordion" id="accordionMain2">
          <div class="card-header-new" id="headingTwo">
            <h6 class="filter-title">
              <a
                href="javascript:void(0);"
                class="w-100 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                Select Date
                <span class="float-end"
                  ><i class="fa-solid fa-chevron-down"></i
                ></span>
              </a>
            </h6>
          </div>

          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample2"
          >
            <div class="card-body-chat">
              <div class="form-group">
                <label class="form-control-label">From</label>
                <div class="cal-icon">
                  <input
                    type="email"
                    class="form-control datetimepicker"
                    placeholder="DD-MM-YYYY"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">To</label>
                <div class="cal-icon">
                  <input
                    type="email"
                    class="form-control datetimepicker"
                    placeholder="DD-MM-YYYY"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Select Date -->

        <!-- By Status -->
        <div class="accordion" id="accordionMain3">
          <div class="card-header-new" id="headingThree">
            <h6 class="filter-title">
              <a
                href="javascript:void(0);"
                class="w-100 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                By Status
                <span class="float-end"
                  ><i class="fa-solid fa-chevron-down"></i
                ></span>
              </a>
            </h6>
          </div>

          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample3"
          >
            <div class="card-body-chat">
              <div id="checkBoxes2">
                <div class="form-custom">
                  <input
                    type="text"
                    class="form-control"
                    id="member_search2"
                    placeholder="Search here"
                  />
                  <span
                    ><img src="assets/img/icons/search.svg" alt="img"
                  /></span>
                </div>
                <div class="selectBox-cont">
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> All Invoices
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> Paid
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> Overdue
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> Draft
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> Recurring
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="bystatus" />
                    <span class="checkmark"></span> Cancelled
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /By Status -->

        <!-- Category -->
        <div class="accordion accordion-last" id="accordionMain4">
          <div class="card-header-new" id="headingFour">
            <h6 class="filter-title">
              <a
                href="javascript:void(0);"
                class="w-100 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseFour"
              >
                Category
                <span class="float-end"
                  ><i class="fa-solid fa-chevron-down"></i
                ></span>
              </a>
            </h6>
          </div>

          <div
            id="collapseFour"
            class="collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample4"
          >
            <div class="card-body-chat">
              <div id="checkBoxes3">
                <div class="selectBox-cont">
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category" />
                    <span class="checkmark"></span> Advertising
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category" />
                    <span class="checkmark"></span> Food
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category" />
                    <span class="checkmark"></span> Repairs
                  </label>
                  <label class="custom_check w-100">
                    <input type="checkbox" name="category" />
                    <span class="checkmark"></span> Software
                  </label>
                  <!-- View All -->
                  <div class="view-content">
                    <div class="viewall-Two">
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Stationary
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Medical
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username" />
                        <span class="checkmark"></span> Designing
                      </label>
                    </div>
                    <div class="view-all">
                      <a href="javascript:void(0);" class="viewall-button-Two"
                        ><span class="me-2">View All</span
                        ><span><i class="fa fa-circle-chevron-down"></i></span
                      ></a>
                    </div>
                  </div>
                  <!-- /View All -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Category -->

        <button
          type="submit"
          class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary"
        >
          <span
            ><img
              src="assets/img/icons/chart.svg"
              class="me-2"
              alt="Generate report" /></span
          >Generate report
        </button>
      </form>
    </div>
  </div>
</div>
<!--/Add Asset -->

<!-- Delete Paid Modal -->
<div class="modal custom-modal fade" id="delete_paid" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Delete Invoice Paid</h3>
          <p>Are you sure want to delete?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a
                href="javascript:void(0);"
                class="btn btn-primary paid-continue-btn"
                >Delete</a
              >
            </div>
            <div class="col-6">
              <a
                href="javascript:void(0);"
                data-bs-dismiss="modal"
                class="btn btn-primary paid-cancel-btn"
                >Cancel</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Paid Modal -->
