<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="content-page-header">
      <h5>Invoice Templates</h5>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="card mb-0">
    <div class="card-body pb-0">
      <div class="invoice-card-title">
        <h6>General Invoice</h6>
      </div>
      <div class="row">
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-betweens"
          >
            <div class="blog-image">
              <a href="<%= routes.generalinvoices1 %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-1.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.generalinvoices1 %>">General Invoice 1</a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.generalinvoices2 %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-2.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.generalinvoices2 %>"> General Invoice 2 </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.generalinvoices3 %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-3.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.generalinvoices3 %>"> General Invoice 3 </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.generalinvoices4 %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-4.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.generalinvoices4 %>"> General Invoice 4 </a>
            </div>
          </div>
        </div>
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.generalinvoices5 %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-5.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.generalinvoices5 %>"> General Invoice 5 </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- /Invoice List -->
      </div>
      <div class="row">
        <div class="invoice-card-title">
          <h6>Category Based Invoice</h6>
        </div>
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.businvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-6.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.businvoice %>">
                Bus Ticket Booking Invoice
              </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.carinvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-7.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.carinvoice %>"> Car Booking Invoice </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.coffeeinvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-8.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.coffeeinvoice %>"> Coffee Shop Invoice </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.domaininvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-9.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.domaininvoice %>">
                Domain & Hosting Invoice
              </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->

        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.ecommerceinvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-10.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.ecommerceinvoice %>"> Ecommerce Invoice </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.fitnessinvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-11.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.fitnessinvoice %>">
                Fitness Center Invoice
              </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.traininvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-12.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.traininvoice %>">
                Train Ticket Booking Invoice
              </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.flightinvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-13.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.flightinvoice %>"> Flight Booking Invoice </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->

        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.hotelinvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-14.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.hotelinvoice %>"> Hotel Booking Invoice </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.internetinvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-15.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.internetinvoice %>">
                Internet Billing Invoice
              </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->

        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.medicalinvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-16.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.medicalinvoice %>"> Medical Invoice </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->

        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.exchangeinvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-17.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.exchangeinvoice %>">
                Money Exchange Invoice
              </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.movieinvoice %>">
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-18.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.movieinvoice %>">
                Movie Ticket Booking Invoice
              </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.restaurantinvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-19.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.restaurantinvoice %>"> Restaurant Invoice </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->
        <!-- Invoice List -->
        <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
          <div
            class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
          >
            <div class="blog-image">
              <a href="<%= routes.studentinvoice %>"
                ><img
                  class="img-fluid"
                  src="assets/img/general-invoice-20.svg"
                  alt="Post Image"
                />
              </a>
            </div>
            <div class="invoice-content-title">
              <a href="<%= routes.studentinvoice %>">
                Student Billing Invoice
              </a>
            </div>
          </div>
        </div>
        <!-- /Invoice List -->

        <div class="row">
          <div class="invoice-card-title">
            <h6>Receipt Invoice</h6>
          </div>
          <!-- Invoice List -->
          <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
            <div
              class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
            >
              <div class="blog-image">
                <a href="<%= routes.cashreceipt1 %>"
                  ><img
                    class="img-fluid"
                    src="assets/img/cash-receipt-1.svg"
                    alt="Post Image"
                  />
                </a>
              </div>
              <div class="invoice-content-title">
                <a href="<%= routes.cashreceipt1 %>"> Cash Receipt 1 </a>
              </div>
            </div>
          </div>
          <!-- /Invoice List -->
          <!-- Invoice List -->
          <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
            <div
              class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
            >
              <div class="blog-image">
                <a href="<%= routes.cashreceipt2 %>"
                  ><img
                    class="img-fluid"
                    src="assets/img/cash-receipt-2.svg"
                    alt="Post Image"
                  />
                </a>
              </div>
              <div class="invoice-content-title">
                <a href="<%= routes.cashreceipt2 %>"> Cash Receipt 2 </a>
              </div>
            </div>
          </div>
          <!-- /Invoice List -->
          <!-- Invoice List -->
          <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
            <div
              class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
            >
              <div class="blog-image">
                <a href="<%= routes.cashreceipt3 %>"
                  ><img
                    class="img-fluid"
                    src="assets/img/cash-receipt-3.svg"
                    alt="Post Image"
                  />
                </a>
              </div>
              <div class="invoice-content-title">
                <a href="<%= routes.cashreceipt3 %>"> Cash Receipt 3 </a>
              </div>
            </div>
          </div>
          <!-- /Invoice List -->
          <!-- Invoice List -->
          <div class="col-md-6 col-xl-3 col-sm-12 d-md-flex d-sm-block">
            <div
              class="blog grid-blog flex-fill d-flex flex-wrap align-content-between"
            >
              <div class="blog-image">
                <a href="<%= routes.cashreceipt4 %>"
                  ><img
                    class="img-fluid"
                    src="assets/img/cash-receipt-4.svg"
                    alt="Post Image"
                  />
                </a>
              </div>
              <div class="invoice-content-title">
                <a href="<%= routes.cashreceipt4 %>"> Cash Receipt 4 </a>
              </div>
            </div>
          </div>
          <!-- /Invoice List -->
        </div>
      </div>
    </div>
  </div>
</div>
