<!DOCTYPE html>
<html lang="en">
  <%- include ('./head') %>
  <body>
    index
    <!-- Main Wrapper -->
    <div class="main-wrapper container">
      <!-- <Header> -->
      <%- include ('./header/header-five') %>
      <!-- </Header> -->

      <!-- <sidebar> -->
      <%-include ('./sidebar/sidebar-five') %>
      <!-- </sidebar> -->

      <!-- <PageWrapper> -->
      <div class="page-wrapper page-wrapper-four">
        <%- include ('../Pages/' + page_path ) %>
      </div>
      <!-- </PageWrapper> -->

      <!-- /Main Wrapper -->
      <%- include ('./theme-settings.ejs') %> <%- include ('./script') %>
    </div>
  </body>
</html>
