<!DOCTYPE html>
<html lang="en">
  <%- include ('./head') %>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- <Header> -->
      <%- include ('./header/header') %>
      <!-- </Header> -->

      <!-- <sidebar> -->
      <%-include ('./sidebar/sidebar') %>
      <!-- </sidebar> -->

      <!-- <PageWrapper> -->
      <div class="page-wrapper"><%- include ('../Pages/' + page_path ) %></div>
      <!-- </PageWrapper> -->

      <!-- /Main Wrapper -->
      <%- include ('./theme-settings.ejs') %> <%- include ('./script') %>
    </div>
  </body>
</html>
