<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./meta') %> <%- include ('./style') %>
    <title>Kanakku <%= title %></title>
  </head>
  <body>
    <%- include (layout) %> <%- include ('./theme-settings') %> <%- include
    ('./script') %>
  </body>
</html>
